    /* Reset */
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.icones{
    font-size: xx-large;
    margin: 0 0 4px 8px;
    padding-bottom: 3px 10px;
}

header,
footer {
    
    padding: 25px ;
    filter:drop-shadow(0 3px 3px rgba(10, 247, 2, 0.5));
    background-image: linear-gradient(25deg,#a2a50b, #93e8eb );
    font-size: 16px;
    text-align: end;
    font-weight: bolder;
}
header section p{
    font-weight: bold;
}
header {
    filter:drop-shadow(0 3px 3px rgba(28, 228, 105, 0.5));
    background-image: linear-gradient(25deg,#a2a50b, #93e8eb );
}
main,
aside {
    margin:25px;
    padding: 25px;
    filter:drop-shadow(0 3px 5px rgba(5, 6, 8, 0.766));
    background-color: rgba(0, 67, 192, 0.164);
}
#eCommerce{
    font-size: 1.5em;
    margin-left: 60px;
}
a {
    text-decoration: none;
    color:inherit;
    font-weight: bolder;
    transition: color 0.3s ease-in;
}
a:hover {
    color: tomato;
}
.whatsApp,
.linkedin,
.github,
.gmail {
    text-decoration: none;
    color:inherit;
    transition: color 0.1s ease-in;
    font-size: 1.4em;
}
.whatsApp:hover {
    font-size: X-large;
    color: rgb(8, 180, 100);
}
.linkedin:hover {
    font-size: X-large;
    color: rgb(0, 15, 158);
}
.github:hover {
    font-size: X-large;
    color: rgb(217, 7, 245);
}
.gmail:hover {
    font-size: X-large;
    color: red;
}
ul {
    list-style: none;
}
footer {
    filter:drop-shadow(0 -3px 3px rgba(10, 247, 2, 0.5));
    text-align: center;
    font-size: 1.0em;
}
section{
    padding: 10px;
}

/* header,
footer {
    background-color:rgb(180, 230, 140);
    padding: 16px;
    color: black;
}
header h1 {
    
}


header div{
    font-size: 16px;
}
header div p{
    font-size: 1.3em;
    margin-left: 6px;
}
header div p {
    font-size: 1.2em;
    transition: all 0.5s ease-in-out;
}
header div p:first-child i:hover {
    filter:drop-shadow( 5px 2px 2px rgb(62, 250, 71))
}

main,
aside{
    margin: 20px 40px;
    border-radius: 20px;
    padding: 15px;
    background-color: rgb(217,200,185);
}


#irParaTopo, p {
    font-weight: bold;
}

a[href="#inicioPg"] {
    font-size: 1.2em;
    background-color: hidden;
    color: yellow;
    text-transform: lowercase;
    display: block;
    position: fixed;
    bottom: 2px;
    right:14px;
    padding: 5px 10px;
    
} */
