/* Reset */
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color:inherit;
    font-weight: bolder;
    transition: color 0.8s ease-in;
}
a:hover {
    color: lawngreen;
}

main,
aside{
    margin: 20px 40px;
    border-radius: 20px;
    padding: 15px;
    background-color: rgb(217,200,185);
}
ul {
    list-style: none;
}
li:first-child,
hr
 {
    margin: 10px 0;
}
header {
    font-weight: bold;
    color: blue;
}
#irParaTopo, p:first-child {
    font-weight: bold;
}

a[href="#inicioPg"] {
    background-color: crimson;
    color: #fff;
    border: 2px dotted rgb(0,0,0);
    padding: 10px 20px;
    text-transform: capitalize;
    height: 60px;
    width: fit-content;
    border-radius: 30px;
    margin: 20px 30px;
    display: block;
}
img {
    border-radius: 50%;
    transition: all 0.8s ease-in-out;
}
img:hover {
    transform: rotate(270deg) scale(1.5);
    filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.5));
    border: 5px solid blue;
}