/* Reset */
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header,
footer {
    background-color:rgba(175,164,189);
    padding: 16px;
    color: white;
}
header {
    filter:drop-shadow(0 3px 3px rgba(0,0,0,0.5));
}
header div{
    font-size: 16px;
}
header div p:first-child {
    font-size: 1.5em;
}
header div p:first-child i {
    font-size: 1.2em;
    transition: all 0.5s ease-in-out;
}
header div p:first-child i:hover {
    filter:drop-shadow( 5px 2px 2px rgb(62, 250, 71))
}
footer {
    filter:drop-shadow(0 -3px 3px rgba(0,0,0,0.5));
    text-align: center;
    font-size: 1.0em;
}








a {
    text-decoration: none;
    color:inherit;
    font-weight: bolder;
    transition: color 0.3s ease-in;
}
/* a:hover {
    color: rgb(212, 135, 18);
} */

main,
aside{
    margin: 20px 40px;
    border-radius: 20px;
    padding: 15px;
    background-color: rgb(217,200,185);
}
ul {
    list-style: none;
}

#irParaTopo, p {
    font-weight: bold;
}

a[href="#inicioPg"] {
    font-size: 1.2em;
    background-color: hidden;
    color: yellow;
    text-transform: lowercase;
    display: block;
    position: fixed;
    bottom: 2px;
    right:14px;
    padding: 5px 10px;
    
}
